.nav {
    display: flex;
    justify-content: right;
    text-align: center;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    padding-left: 30px;
    align-items: center;
}

  .left0,  .left1, .right0   { 
          width: 75px;
  }
  
  .right1 {
          width: 100px;
  }

  .svg {
      height: 16px;
      width: 16px;
  }

.googlelogo {
    display: flex;
    justify-content: center;
    max-height: 92px;
    height: calc(100% - 560px);

}

.form {
    text-align: center;
  }
  
#form-search { 
    height: 44px;
    border-radius: 24px;
    width: 638px;
    max-width: 584px;
    text-align: center;
    border: 1px solid #dfe1e5
}
    

.loupe {
        max-height: 24px;
        max-width: 24px;
        position: relative;
        right: 260px;
        top: -32px;
    }

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 76vh;
    width: 100%;
    justify-content: center;
   

}

.mic {
    max-height: 24px;
    max-width: 24px;
    position: relative;
    right: -260px;
    top: -32px;
}



.btn1  {
    width: 127.41px;
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.btn2 {
    width: 142.5px ;
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

footer {
	background: #f2f2f2;
    height: 100%;
}

footer h4 {
	color: rgba(0,0,0, 0.54);
	font-size: 15px;
	line-height: 39.5px;
	font-weight: 400;
	padding-left: 29px;
	border: 1px solid #eee;
}

footer a {
	color: #5f6368;
	display: inline-block;
	padding: 12px 11.3px;
	font-size: 14px;
}

footer a:hover {
	text-decoration: underline;
}

.footer1 {
	border-top: 1px solid #ddd;
	display: flex;
}

.footerleft {
	padding-left: 18.7px;
	flex: 1;
}

.footerright {
	padding-right: 18.7px;
}





